<<<<<<< HEAD
<h1>Editing session</h1>

<%= render 'form' %>

=======
<%= render :layout => 'form' do |f| %>
  <legend><h3>Editing Session</h3></legend>
<% end %>
>>>>>>> bae63b7b592d41b65ae4748748d344198f45160e
<%= link_to 'Show', @session %> |
<%= link_to 'Back', sessions_path %>
