<div class="row">
  <div class="col-sm-12">
    <%= link_to "Add Session", new_session_path, class: "btn btn-success" %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <legend><h2>Sessions</h2></legend>
    <div class="table-responsive">
      <%= render partial: "list_sessions" %>
    </div>
  </div>
</div>

