<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-sm-12">
    <legend><h2>Sessions</h2></legend>
    <div class="table-responsive">
      <%= render partial: "list_sessions" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= render :layout => 'form' do |f| %>
      <legend><h3>Create a new Session</h3></legend>
    <% end %>
    <%= render partial: "form" %>
  </div>
</div>
