<<<<<<< HEAD
<h1>New session</h1>

<%= render 'form' %>

<%= link_to 'Back', sessions_path %>
=======
<%= render :layout => 'form' do |f| %>
  <legend><h3>Create New School Session</h3></legend>
<% end %>
>>>>>>> bae63b7b592d41b65ae4748748d344198f45160e
