<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee_position.name %>
</p>

<%= link_to 'Edit', edit_employee_position_path(@employee_position) %> |
<%= link_to 'Back', employee_positions_path %>
