<div class="row">
	<div class="col-sm-3">
		<h1>
			<%= link_to "Employees", employees_path %>
		</h1>
	</div>
	<div class="col-sm-4">
		<h1>
			<%= link_to "Employee Positions", employee_positions_path %>
		</h1>
	</div>
</div>