<div class="row">
  <div class='col-md-12'>
  	<h2>Classrooms</h2>
  	<% if @classrooms.present? %>
      <div id="list_of_classrooms">
        <%= render :partial => 'list_classrooms' %>
      </div>
	<% else %>
		<div class="alert alert-dismissable alert-info after-destroy" style="margin:0px !important; ">
	    <strong>No Classrooms!</strong> Available.
	  </div>
	<% end %>
  </div>
</div>
<div class="row">
  <div class='col-md-12'>
  	<h3>Create new</h3>
    <%= render :partial => 'form' %>
  </div>
</div>