<div class="row">
	<div class='col-md-12'>
		<h2>Time Table</h2>
		<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Generate Time Table</h3>
      </div>
      <div class="panel-body">
        <%= form_tag time_table_index_path, method: "get" do %>
					<%= select_tag :search_class, options_for_select(SchoolClass.all.collect{|m| [m.class_name, m.class_name]}, :selected => params[:search_class]), :class => 'form-control', prompt: "--Select--"  %>
					<br />
	        <%= submit_tag "View", :name => nil, :class => "btn btn-info" %>
				<% end %>
      </div>
    </div>
  	<%#= link_to 'print', 'your_link_here', :onclick => 'window.print();return false;'%>
    <div id="time_table_subjects">
	    <%= render partial: "time_table" %>
		</div>
	</div>
</div>