<div class="col-md-2 dashboard-width">
	<div class="students dashboard-icon">
	  <%= link_to image_tag("students2.png"), {:action => 'admissions', :controller => 'students'} %>
	  <br />
	  Admissions
	</div>
</div>
<div class="col-md-9">
	<ul>
		<li>
			<h1>
				<%= link_to "New Admission", new_admission_path %>
			</h1>
		</li>
		<li>
			<h1>
				<%= link_to "Students List", students_path %>
			</h1>
		</li>
		<li>
			<h1>
				<%= link_to "Student Categories", student_categories_path %>
			</h1>
		</li>
	</ul>
</div>