<div class="row">
	<div class="col-sm-4">
		<h1>
			<%= link_to "New Admission", students_path %>
		</h1>
	</div>
	<div class="col-sm-4">
		<h1>
			<%= link_to "Student Categories", student_categories_path %>
		</h1>
	</div>
</div>