<h2>Assign Period for <%= @subject.title %></h2>
<%= link_to "Back", @subject, class: "label label-info" %>
<br /><br />
<div class="row">
  <div class="col-md-7">
    <%= render partial: "form" %>
  </div>
</div>