<div class="row">
	<div class="col-sm-4">
		<h1>
			<%= link_to "Fees Category", fees_categories_path %>
		</h1>
	</div>
	<div class="col-sm-4">
		<h1>
			<%= link_to "Fees Period", fees_periods_path %>
		</h1>
	</div>
</div>