<% title "Settings" %>
<% title_icon "cog" %>


<%# content_for(:content_header_right) do%>
<%# end %>

<%# content_for(:side_bar) do %>
<%# end %>

<div id="template-alert" class="alert fade in" style="display: none">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
</div>

<div id="tabs">
  <ul>
    <li id="tabs1"><a href="/users/edit">My Settings</a></li>
    <li id="tabs2"><a href="/school/<%#=current_user.organization_id%>/edit">School Settings</a></li>
  </ul>
</div>
