<h3>Subjects</h3>
<% if @batch.subjects.present? %>
	<% for subject in @batch.subjects %>
	  <table class="table table-bordered table-hover">
	    <tr>
	      <td><strong>Subject Name: </strong></td>
	      <td><%= subject.subject_name %></td>
	    </tr>
	  </table>
	<% end %>
<% else %>
	<div class="alert alert-dismissable alert-info" style="margin:0px !important;">
	    <strong>No Subjects!</strong> available in this Batch.
	  </div>
<% end %>