$('.create_teacher_classroom').bind('ajax:success', function() {
    $("#notice").html("<%= escape_javascript(render :partial => 'layouts/messages' , :locals => { :flash => flash }).html_safe %>")
    $("#update_assigning_classrooms").html("<%= escape_javascript(render partial: 'assigning_classrooms', :locals => { :@teacher => @classroom_teacher.teacher }).html_safe %>")
    $("#update_assigned_classrooms").html("<%= escape_javascript(render partial: 'assigned_classrooms', :locals => { :@teacher => @classroom_teacher.teacher }).html_safe %>")
    $(this).ajaxStart($.blockUI({  message: $(this).html("<h2><span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span> Loading...</h2>"), 
		fadeIn:300, 
	    timeout:500, 
	    css: { 
	        border: 'none', 
	        padding: '15px', 
	        backgroundColor: '#000', 
	        '-webkit-border-radius': '10px', 
	        '-moz-border-radius': '10px', 
	        opacity: .5, 
	        color: '#fff',
	        'margin-left': '73px',
	        width: '17%'
	    } 
    }));
}); 