<div class="row">
	<div class="col-sm-3">
		<h1>
			<%= link_to "Subjects", list_subjects_path %>
		</h1>
	</div>
	<div class="col-sm-4">
		<h1>
			<%= link_to "Subjects Allocations", subject_allocations_path %>
		</h1>
	</div>
</div>