<table class="table table-bordered" style="font-size:10px;">
	<tbody>
		<tr>
			<td>Name</td>
			<% 1.upto(31) do |n| %>
				<td><%= n %></td>
			<% end %>
		</tr>
		<tr>
			<td>Name</td>
			<% 1.upto(31) do |n| %>
				<td><%= n %></td>
			<% end %>
		</tr>
	</tbody>
</table>