/*
#dashboard {
	border-style: solid;
	border-width: 0px 1px 1px;
	border-radius: 4px 4px 0px 0px;
}


#upar {
	
	background-image: linear-gradient(rgba(4, 81, 155, 0.6), rgba(4, 70, 135, 0.78) 60%, rgba(3, 55, 105, 0.74));
	background-repeat: no-repeat;
	filter: none;
	border: 1px solid rgba(2, 34, 65, 0.91);
	border-bottom: 1px solid #022241;

	
	border-radius: 4px 4px 0px 0px;
	padding-left: 14px;
	margin-bottom: 9px;
	h4 {
		color: #fff;
		margin-top: 6px;
		margin-bottom: 6px;
	}
}
*/
.glyphicon_image {
	width: 14px;
	margin-bottom: 2px;
}

.left-nav > li {
	img {
		width: 19px;
	}
	.fees {
		width: 11px;
		margin-right: 7px;
	}
}
.sub-nav {
	a {
		padding: 6px 23px;

		img {
			width: 13px;
			margin-bottom: 2px;
		}
	}
}
#upar {
	padding-left: 14px;
}
.dashboard-width {
	width: 19.667%;

	@media(max-width:1000px) {
	    width: 100%;
	    margin-bottom: 7px;
	    margin-top: 7px;
	}
}
.dashboard-icon {
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	img {
		height: 100px;
	}
}
.lower {
	margin-top: 9px;
	@media(max-width:1000px) {
		margin-top: 0px;
	}
}
.lower-width {
	width:13%;
}