// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.absent {
  background-color:#eed3d7;
}

.present {
  background-color:#d6e9c6;
}

.nil {
  background-color:#ffff;
}

.dataTable_actions {
	a {
		padding:3px;
	}
}
.wizard_nav > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: #ffffff;
	background-color: rgb(44, 182, 146) !important;
}

.wizard_nav > li > a {
	background-color: transparent !important;
}