.student_profile_hover:before {
  position: absolute;
  top: 145px;
  left: 44px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-top: 7px solid #6F6767;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

/*Classes Periods*/

.label-sunset {
  background-color: #F0CE20;
}

.label-water {
  background-color: #1BDCE4;
}

.student_profile_hover:after {
  position: absolute;
  top: 145px;
  left: 44px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-top: 7px solid #6F6767;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.period_hover:after {
  position: absolute;
  top: 155px;
  left: 23px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #1E7AE3;
  color: #fff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, whitesmoke 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, whitesmoke 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), to(#e8e8e8));
  background-image: linear-gradient(to bottom, rgb(101, 176, 249) 0%, #3E8BDA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#ffe8e8e8',GradientType=0);
  background-repeat: repeat-x;
}


.navbar-inverse .navbar-nav > li > a {
  height: 39px !important;
  padding-top: 10px !important;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
 background-color: transparent !important; 
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: transparent !important;
}
@media(min-width:768px) {
  .nav-icon {
    img {
      height: 39px;
    }
  }
  .navbar-brand {
    padding: 8.5px 15px 20.5px;
  }
  .navbar {    
    min-height: 41px !important;
    height: 0px !important;
  }
}

.navbar-toggle {
  margin-bottom: 0px;
  margin-top: 12px;
}

.panel-app {
  padding: 10px;
}

.dropdown-menu {
  border-radius:7px 7px 7px 7px !important;
}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.navbar-brand {
  color: #fff !important;
}
.navbar-nav > li {
    a {
      color: #fff !important;
    }
}
.alert-custom {
  padding: 7px 23px 7px 23px !important;
}
@media(max-width:767px) {
  .nav-icon {
    display:none !important;
  }
  .navbar-brand {
    padding: 20px;
    font-size: 25px;
  }  
}

