// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  //font-size: inherit;
  }

.navbar-inverse {

  background: #666666; /* Old browsers */
  background: -moz-linear-gradient(top, #666666 -2%, #2c2c2c -1%, #2c2c2c 0%, #4c4c4c 0%, #666666 1%, #595959 12%, #474747 39%, #2b2b2b 76%, #1c1c1c 91%, #111111 100%, #131313 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-2%,#666666), color-stop(-1%,#2c2c2c), color-stop(0%,#2c2c2c), color-stop(0%,#4c4c4c), color-stop(1%,#666666), color-stop(12%,#595959), color-stop(39%,#474747), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #666666 -2%,#2c2c2c -1%,#2c2c2c 0%,#4c4c4c 0%,#666666 1%,#595959 12%,#474747 39%,#2b2b2b 76%,#1c1c1c 91%,#111111 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #666666 -2%,#2c2c2c -1%,#2c2c2c 0%,#4c4c4c 0%,#666666 1%,#595959 12%,#474747 39%,#2b2b2b 76%,#1c1c1c 91%,#111111 100%,#131313 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #666666 -2%,#2c2c2c -1%,#2c2c2c 0%,#4c4c4c 0%,#666666 1%,#595959 12%,#474747 39%,#2b2b2b 76%,#1c1c1c 91%,#111111 100%,#131313 100%); /* IE10+ */
  background: linear-gradient(to bottom, #666666 -2%,#2c2c2c -1%,#2c2c2c 0%,#4c4c4c 0%,#666666 1%,#595959 12%,#474747 39%,#2b2b2b 76%,#1c1c1c 91%,#111111 100%,#131313 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#131313',GradientType=0 ); /* IE6-9 */


  .navbar-brand {
    color: rgb(240, 240, 240);
    font-size: 25px;
    height: 45px;
  }

  .navbar-nav > li > a {
    color: rgb(240, 240, 240);
    font-size: 16px;
    margin-bottom: 7px;
    &:hover {
      background-color:#000;
      padding-bottom: 8px;
    }
  }

  .navbar-nav {
    margin:0 auto;
    padding-top: 3px;
    .open > a {
      padding-bottom: 8px;
    }
  }

  .navbar-toggle {
    border-color: rgb(116, 114, 114);
  }
}

.navbar {
  min-height: 39px;
  height: 0px;
}

.navbar-toggle {
  padding: 6px 6px;
  margin-top: 12px;
  margin-bottom: 6px;
}

.navbar-elements {
  margin-top: -7px;
}


//Active Class
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color:#555454;
  padding-bottom: 8px;
}


// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  //background-color: #eee;
  padding-bottom: 20px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 25px;
  //max-width: 320px;
  //margin: 0 auto;
  font-size: 16px;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

//alert
.alert {
  border-radius: 0;
  border: 2px solid;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 13px;
  font-weight: bold;
}
//App Panel
.panel-app {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7px;
  .panel-heading {
    margin: 11px 11px 0px 11px;
    border-radius: 7px;
    color: #fff;
    background-color: #353535;
    border-color: #353535;
  }
}

//Form
.form-control:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0044cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0044cc;

}
.select.form-control:focus {
  border-color: rgba(50, 111, 219, 0.44);
}

//Carousel
#myCarousel{
  margin: -9px -44px -9px -44px;
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    height: 440px;
    @media(max-width:480px) {
      height: inherit;
    }
  }
  .carousel-inner {
    .carousel-caption {
      bottom: 42px;
      left:2%;
      right:2%;
      text-align:left;
      padding-bottom: 0px;
    }
  }
  .carousel-control {
    width: 2%;
  }
}
//Media Queries for Devise
@media only screen 
and (min-width : 320px) 
and (max-width : 480px){
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #000;
  }
  .carousel {
    margin: 0;
  }
}
@media only screen 
and (max-width : 1024px){
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #000;
  }
  .carousel {
    margin: 0;
  }
}
