header {
  margin-bottom: 25px;
}
.in_collaspe {
	li > a:hover, li > a:focus {
		background-color: #364054 !important;
	}
	li a {
		color: #3399f3 !important;
	}

	li > a {
		.glyphicon {
			float: right;
		}
		img {
			padding-right: 11px;
		}
	}
}

.nav_collaspe {
	padding: 9px 15px 0px 15px;
}