.for_periods, .periods {
	a {
		padding: 6px;
	}
	.destroy_period {
		margin:3px;
	}
}

//Time Table

#time_table_week_days {
	.heading {
		text-align:center;
		font-size: 20px;
		font-weight: bold;
	}
}