.student_profile_table {
	padding:15px;
	color: #919090;
	a {
		margin-left: 24px;
	}
	img {
		border-radius: 44px;
	}
}

.student_profile_hover {
	width: 324px !important;
	padding: 12px !important;
}

