.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/***body***/

/*Block ui */
.blockOverlay {
  z-index: 1000 !important;
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
  width: 100% !important;
  height: 100% !important;
  top: 0px !important;
  left: 0px !important;
  opacity: 0.8 !important;
  cursor: wait !important;
  position: absolute!important;
  background-color: #fff !important;
  border-radius: 14px !important;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: 0px;
}
.my_class {
  background-color: rgba(36, 202, 133, 1) !important;
}

//Login
#center-image{
  text-align:center;
  .profile-img {
    border-radius:65px;
  }
}

//Footer 

footer {
  //background-color: #eee;
  .footer-content {

    @media(max-width:480px) {
      .pull-right {
        float: left !important;
      }
    }
  }
}

// Index

.index {
  img {
    float: right;
    height: 271px;
  }
  .about_us {
    background:  url("policy.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: -11px -46px -11px -46px;
    border-radius: 6px;
    padding: 9px;
    h1 {
      color:#fff;
    }
    p{
      color:#fff;
    }
  }
  .our-mission {
    p {
      font-size: 16px !important;
    }
  }
  .our-mission2 {
    display:none;
  }
}



//Media

/*@media(max-width:480px) {
  #bottom main {
    padding:0px 20px 0px 20px;
    p {
      font-size: 14px;
    }
  }
  .index {
    .about_us {
      margin:0;
      padding:0;
      background: none;
      h1 {
      color:inherit;
      }
      p{
        color:inherit;
      }
    }
    .our-mission {
      display:none;
    }
    .our-mission2 {
      display:inline;
    }
  }
}
@media(max-width:1024px) {
  .index {
    .our-mission {
      h1 {
        display:none;
      }
      p {
        display:none;
      }
    }
  }
}*/


//Horizontol Line 

hr {
  border-top: 1px solid #D4D0D0;
}
//Heading
h1,h2,h3 {
  font-weight:bold;
}

//Contact Page
.contact-form {
    margin-top:70px;
}
address {
  font-size: 24px;
}

//Data tables
.datables {
  a {
    padding:0px;
    font-size: 13px;
  }
}