// Body

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: 0px;
}

main {
  background-color: #eee;
  margin-top:0;
  -webkit-box-shadow: -1px 1px 35px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 35px 3px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 35px 3px rgba(0,0,0,0.75);
  width:88%;
  padding-top: 80px;
  border-radius: 8px;
}

//Footer 

footer {
  //background-color: #eee;
  .footer-content {

    @media(max-width:480px) {
      .pull-right {
        float: left !important;
      }
    }
  }
}

// Index

.index {
  margin: 0 auto;
  width: 80%;
}