<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @class_category.name %>
</p>

<%= link_to 'Edit', edit_class_category_path(@class_category) %> |
<%= link_to 'Back', class_categories_path %>
