<div class="panel panel-app">
  <div class="panel-heading">
    <h1>Student Catagory</h1>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover">
      <tr>
        <td><strong>Name: </strong></td>
        <td><%= @student_category.name %></td>
      </td>
    </table>
  </div>
</div>
 
<%= link_to 'Edit', edit_student_category_path(@student_category) %> |
<%= link_to 'Back', student_categories_path %>


